* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    background-color: #636363;
}

.success-msg {
    display:flex;
    align-items:center;
    flex-direction:column;
    background-color: green;
    max-width: 60%;
    margin: 25px auto;
    padding: 10px 15px;
    border-radius: 30px;
}

.error-msg {
    display:flex;
    align-items:center;
    flex-direction:column;
    background-color: rgb(174, 0, 0);
    max-width: 60%;
    margin: 25px auto;
    color:white;
    padding: 10px 15px;
    border-radius: 30px;
}

i {
    margin: 10px 0px;
}